@model IEnumerable<Assignment1B.Models.Booking>

@{
    ViewData["Title"] = "Have a look in here for your flights!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View the Flights</h1>
<ol type="1" >
    <li>Air Canada</li>
    <li>Air India</li>
    <li>Sky Jet</li>
    <li>British Airways</li>
    <li>Indigo</li>
</ol>


