@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:cyan">
</body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can book flights according to you</p>
</div>
